$main: #e86767;
$text: #aeaeae;
#nav ul li a{
  position: relative;
  color: $text;
  cursor: pointer;
}
#nav ul li a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: $main;
  content: "";
  transition: width 0.2s;
}
#nav ul li a:hover {
  color: $main;
}
#nav ul li a:hover:after {
  width: 100%;
}


.animate-up {
  -webkit-animation: animate-up 1.5s; /* Safari 4+ */
 -moz-animation:    animate-up 1.5s; /* Fx 5+ */
 -o-animation:      animate-up 1.5s; /* Opera 12+ */
 animation:         animate-up 1.5s;
}

.n-animate-up{
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.animate-left{
  -webkit-animation: animate-left 1.5s; /* Safari 4+ */
 -moz-animation:    animate-left 1.5s; /* Fx 5+ */
 -o-animation:      animate-left 1.5s; /* Opera 12+ */
 animation:         animate-left 1.5s;

}

  .n-animate-left{
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }

  .animate-right{
    -webkit-animation: animate-right 1.5s; /* Safari 4+ */
   -moz-animation:    animate-right 1.5s; /* Fx 5+ */
   -o-animation:      animate-right 1.5s; /* Opera 12+ */
   animation:         animate-right 1.5s;

  }

    .n-animate-right{
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate(-100px, 0);
      -moz-transform: translate(-100px, 0);
      transform: translate(-100px, 0);
    }
