<section class="section section-about">
   <div class="animate-up animated">
      <div class='section-box'>
         <div class='profile' layout='row'>
            <div flex class='image-container' layout='column'>
               <img class='profile-image' src='../images/profile.jpg'/>
            </div>
            <div flex class='profile-sumary' layout='column'>
               <div class="profile-info">
                  <div class="profile-items clearfix">
                     <div class="profile-preword">
                        <span>Hello </span>
                     </div>
                  </div>
                  <h1 class="profile-title">
                     <span>I'm</span>
                     René Keijzer
                  </h1>
                  <h2 class="profile-position">Lead-developer and Freelancer</h2>
               </div>
               <ul class="profile-list">
                  <li class="clearfix">
                     <strong class="title">Age</strong>
                     <span class="cont">24</span>
                  </li>
                  <li class="clearfix">
                     <strong class="title">Address</strong>
                     <span class="cont"> Leiderdorp, The Netherlands, NL</span>
                  </li>
                  <li class="clearfix">
                     <strong class="title">E-mail</strong>
                     <span class="cont"><a style='color:#e86767;' href="mailto:info@renekeijzer.com">info@renekeijzer.com</a> <a style='color:#e86767;' href='mailto:rene.keijzer@iamprogrez.com'>rene.keijzer@iamprogrez.com</a></span>
                  </li>
                  <li class="clearfix">
                     <strong class="title">Phone</strong>
                     <span class="cont">+316 208 245 51</span>
                  </li>
                  <li class="clearfix">
                     <strong class="title">Freelance</strong>
                     <span class="cont">Till Feb 01, 2018</span>
                  </li>
                  <li class="clearfix">
                     <strong class="title">
                     <span class="button">Vacation</span>
                     </strong>
                     <span class="cont">---</span>
                  </li>
               </ul>
            </div>
         </div>
         <div class="profile-social">
            <ul class="social">
               <li><a href="https://twitter.com/rene_keijzer" target="_blank"><i class="si si-twitter"></i></a></li>
               <li><a href="https://www.facebook.com/rene.keijzer.96" target="_blank"><i class="si si-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/rene-keijzer-502983b6/" target="_blank"><i class="si si-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/rene.keijzer/" target="_blank"><i class="si si-instagram"></i></a></li>
               <li><a href="https://github.com/renekeijzer" target="_blank"><i class="si si-github"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<div class="section-txt-btn">
   <p>Hello! I’m René Keijzer, Lead Developer at IamProgrez. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, SQL, PHP, JAVA, and C++. With a passion for new technologies currently geeking on machine learning.</p>
</div>
<section id="skills"  class="section section-skills">
   <div id='skillsD' class="n-animate-up" in-view='animateSkills() && $inview'>
      <h2 class="section-title">Professional  Skills</h2>
      <div class="section-box">
         <div layout="row" flex>
            <div layout='column' flex layout-padding>
               <div class="progress-bar animated">
                  <div class="bar-data">
                     <span class="bar-title">HTML &amp; CSS</span>
                  </div>
                  <div class="bar-line">
                     <span class="bar-fill" data-width="90%" style="width: 90%;"></span>
                  </div>
               </div>
            </div>
            <div layout='column' flex layout-padding>
               <div class="progress-bar animated">
                  <div class="bar-data">
                     <span class="bar-title">PHP & MYSQL</span>
                  </div>
                  <div class="bar-line">
                     <span class="bar-fill" data-width="70%" style="width: 70%;"></span>
                  </div>
               </div>
            </div>
         </div>
         <div layout="row" flex>
            <div layout='column' flex layout-padding>
               <div class="progress-bar animated">
                  <div class="bar-data">
                     <span class="bar-title">JavaScript</span>
                  </div>
                  <div class="bar-line">
                     <span class="bar-fill" data-width="80%" style="width: 80%;"></span>
                  </div>
               </div>
            </div>
            <div layout="column" flex layout-padding>
               <div class="progress-bar animated">
                  <div class="bar-data">
                     <span class="bar-title">Node &amp; Mongo</span>
                  </div>
                  <div class="bar-line">
                     <span class="bar-fill" data-width="85%" style="width: 85%;"></span>
                  </div>
               </div>
            </div>
         </div>
         <div layout="row" flex>
            <div layout='column' flex layout-padding>
               <div class="progress-bar animated">
                  <div class="bar-data">
                     <span class="bar-title">Java</span>
                  </div>
                  <div class="bar-line">
                     <span class="bar-fill" data-width="61%" style="width: 61%;"></span>
                  </div>
               </div>
            </div>
            <div layout='column' flex layout-padding>
               <div class="progress-bar animated">
                  <div class="bar-data">
                     <span class="bar-title">C++</span>
                  </div>
                  <div class="bar-line">
                     <span class="bar-fill" data-width="66%" style="width: 66%;"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="experience"  class="section section-experience">
   <div id='experienceD' class="n-animate-up" in-view='animateExperience() && $inview'>
      <h2 class="section-title">Experience</h2>
         <div class="timeline">
            <div class="timeline-bar" style="top: 80px; height: 670px;"></div>
            <div class="timeline-inner clearfix" style="height: 1009px;">
               <div class="timeline-box timeline-box-left" style="position: absolute; left: 0px; top: 0px;">
                  <span class="dot"></span>
                  <div class="timeline-box-inner n-animate-right">
                     <span class="arrow"></span>
                     <div class="timeline-head">
                        <div class="date">2016 - Current</div>
                        <a class="img" href="#">
                        <img src="images/iamp.png" alt="">
                        </a>
                        <h4>Lead-developer</h4>
                     </div>
                     <p>Curretly working as lead-developer at IamProgrez where I'm managing the developers and keeping the development cycle running. From scrum tasks/stand-ups to hands-on code writing all in an days work. </p>
                  </div>
               </div>
               <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 50px;">
                  <span class="dot"></span>
                  <div class="timeline-box-inner n-animate-left">
                     <span class="arrow"></span>
                     <div class="timeline-head">
                        <div class="date">2016 - 2016</div>
                        <a class="img" href="#">
                        <img src="images/nuthuis.png"alt="">
                        </a>
                        <h4>Freelancer <span style='color: #e86767;'>@</span> Nuthuis</h4>
                     </div>
                     <p> NuThuis is an same-day delivery system within the "randstad" which didn't have any inhouse developers.
                       I've been creating some new features and do bug-fixes. Offering support to a non-tech company.
                     </p>
                  </div>
               </div>
               <div class="timeline-box timeline-box-left" style="position: absolute; left: 0px; top: 331px;">
                  <span class="dot"></span>
                  <div class="timeline-box-inner n-animate-right">
                     <span class="arrow"></span>
                     <div class="timeline-head">
                        <div class="date">2016 - 2016</div>
                        <a class="img" href="#">
                        <img src="images/hu.png" alt="">
                        </a>
                        <h4>Frontend developer</h4>
                     </div>
                     <p>This was web project for faculty health of
the university of Utrecht. The university has made a subsidy application for this
project and within the period of 6 months it got approved. I’ve been 1 of the 2 students to work on this project and make it a commercial product. The
project itself is a web application with a java backend.</p>
                  </div>
               </div>
               <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 375px;">
                  <span class="dot"></span>
                  <div class="timeline-box-inner n-animate-left">
                     <span class="arrow"></span>
                     <div class="timeline-head">
                        <div class="date">2014 - 2015</div>
                        <a class="img" href="#">
                        <img src="images/hu.png" alt="">
                        </a>
                        <h4>Student assistant</h4>
                     </div>
                     <p>As a student assistant I was helping students with basic java and Object oriented programming and check/verify the exercises created by the students.</p>
                  </div>
               </div>
               <div class="timeline-box timeline-box-left" style="position: absolute; left: 0px; top: 670px;">
                  <span class="dot"></span>
                  <div class="timeline-box-inner n-animate-right">
                     <span class="arrow"></span>
                     <div class="timeline-head">
                        <div class="date">2013 - 2013</div>
                        <a class="img" href="#">
                        <img src="images/inno.png" alt="">
                        </a>
                        <h4>Freelance <span style='color:#e86767;'>@</span> Innovation booster</h4>
                     </div>
                     <p>Innovation booster had some projects which needed rapid development. I've been working with an other developer to make some functional prototypes for their customers(NS, MAEXchange, GekkeGerrit).</p>
                  </div>
               </div>
               <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 667px;">
                  <span class="dot"></span>
                  <div class="timeline-box-inner n-animate-left">
                     <span class="arrow"></span>
                     <div class="timeline-head">
                        <div class="date">2012 - 2016</div>
                        <a class="img" href="#">
                        <img src="images/iamp.png" alt="">
                        </a>
                        <h4>Fullstack Developer</h4>
                     </div>
                     <p>As a fullstack-developer within a startup we've have had loads of freedom
but also a lot of responsibilities. Creating products from scratch within a young
and dynamic team promotes creativity and self-development. From setting up git
conventions to developing a whole devops environment. Projects range from
Zend to angular/strongloop JavaScript projects</p>
                  </div>
               </div>
            </div>
      </div>
   </div>
</section>
<section id="blog"  class="section section-blog">
   <div id='blogD' class="n-animate-up" in-view='animateBlog() && $inview'>
      <h2 class="section-title">Blog</h2>
      <div class="section-box">
      </div>
   </div>
</section>
